<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.RewriteMe.Mobile" android:installLocation="auto">
  <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
  <application android:label="@string/ApplicationName" android:theme="@style/RewriteMeTheme">
    <activity android:name="microsoft.identity.client.BrowserTabActivity">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="msalcbd1aee8-27d8-49f4-9f73-02337c15c7a3://auth" android:host="auth" />
      </intent-filter>
    </activity>
  </application>
</manifest>